$spacing-xxl: 56px;
$spacing-xl: 48px;
$spacing-l: 24px;
$spacing-m: 16px;
$spacing-s: 12px;
$spacing-xxs: 5px;

$spacing-tb-l: 24px 0;
$spacing-tb-m: 16px 0;
$spacing-tb-s: 12px 0;
$spacing-tb-xs: 8px 0;

$title-color: #181a1a;
$label-color: #464849;
$light-color: #5c5e5f;
$light-gray: #747676;
$little-data-color: #57c1ba;
$error-color: #b62c29;

$radius: 4px;

$fs-1: 32px;
$fs-2: 28px;
$fs-3: 24px;
$fs-4: 18px;
$fs-5: 14px;
$fs-6: 12px;
$fs-7: 10px;
