@import "variables";
@import "globals";


#app {
  position: relative;
  width: 100%;
  font-family: 'robotomedium', serif;

  .animate-page-enter-active,
  .animate-page-leave-active {
    transition: opacity .5s !important;
  }

  .animate-page-enter,
  .animate-page-leave-to {
    opacity: 0 !important;
  }
}

body {
  margin: 0 !important;
}

html, body, #app {
  height: 100%;
}

input, label {
  cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
