@import "variables";
@import "fonts";

p {
  margin: 0;
}

.float-right {
  float: right !important;
}

.container {
  width: 1270px !important;

  @media screen and (max-width: 1024px) {
    width: 100% !important;
  }
}
