@import "../../assets/style/variables";

.questions {
  .form-wrapper {
    margin-top: $spacing-xl;

    @media screen and (max-width: 1366px) {
      margin-top: $spacing-l;
    }

    .form-field {
      margin: $spacing-tb-l;
      display: block;
      text-align: left;
      position: relative;

      @media screen and (max-width: 1366px) {
        margin: $spacing-tb-m;
      }


      > div {
        margin: $spacing-tb-m;
        line-height: 16px;

        @media screen and (max-width: 1366px) {
          margin: $spacing-tb-s;
        }
      }

      p {
        margin-bottom: $spacing-l;
        font-size: $fs-3;
        color: #464849;

        @media screen and (max-width: 1366px) {
          font-size: $fs-4;
        }
      }

      label {
        font-size: $fs-5;
        margin-left: $spacing-m;
        font-family: 'robotoregular', serif;

        @media screen and (max-width: 1366px) {
          font-size: $fs-6;
        }

      }

      #no {
        margin-left: $spacing-xxl;
      }

    }
  }
}
