@import "../../assets/style/variables";

.home-page-view {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  @media screen and (max-width: 414px) {
    width: 72%;
    margin: auto;
  }

  h1 {
    font-size: $fs-1;
    text-align: center;
    margin-bottom: $spacing-xxl;

    @media screen and (max-width: 414px) {
      font-size: $fs-2;
      margin-bottom: $spacing-l;
    }

    @media screen and (max-width: 375px) {
      font-size: $fs-3;
      margin-bottom: $spacing-m;
    }
  }

  .flex-row {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      display: block;
    }
  }

  .flex-grid {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 3rem;

    @media screen and (max-width: 414px) {
      padding: 1.5rem;
    }
  }

  .user-info {
    text-align: center;

    &__avatar {
      height: 250px;

      @media screen and (max-width: 414px) {
        height: 200px;

        img {
          height: 100%;
        }
      }

      @media screen and (max-width: 375px) {
        height: 180px;
      }
    }

    &__name {
      margin: $spacing-tb-l;
      font-size: $fs-2;

      @media screen and (max-width: 375px) {
        margin: $spacing-tb-m;
        font-size: $fs-3;
      }
    }

    &__desc {
      background: #efefef;
      height: 120px;
      padding: 24px;
      text-align: left;
      font-size: $fs-4;
      font-family: 'robotolight', serif;
      margin-bottom: 10px;
      letter-spacing: 0.8px;
      line-height: 24px;

      @media screen and (max-width: 1024px) {
        height: 150px;
      }

      @media screen and (max-width: 768px) {
        height: 80px;
      }

      @media screen and (max-width: 414px) {
        height: 100px;
        font-size: $fs-5;
        letter-spacing: 0.5px;
        line-height: 18px;
      }

      @media screen and (max-width: 375px) {
        height: 150px;
      }
    }

    button {
      background: #000;
      border: none;
      color: #ffffff;
      padding: 8px 20px;
      font-size: 16px;
      cursor: pointer;
      transition: all .3s ease-in-out;

      &:hover {
        background: $little-data-color;
        transition: all .3s ease-in-out;
      }

      &:focus {
        border-color: $little-data-color;
        outline: none;
        transition: all .3s ease-in-out;
      }
    }
  }
}
