@import "../../assets/style/variables";

.end-page-view {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  @media screen and (max-width: 414px) {
    width: 90%;
    margin:0 auto;
  }

  h1 {
    font-size: 48px;
    letter-spacing: 2px;

    @media screen and (max-width: 1366px) {
      margin:0;
    }

    @media screen and (max-width: 414px) {
      font-size: $fs-1;
    }
  }

  &__inner {
    text-align: center;
  }

  img {
    max-width: 920px;
    margin:0 auto;
    display: block;

    @media screen and (max-width: 414px) {
      width: 100%;
    }
  }

  a {
    background: #000000;
    color: #ffffff;
    text-decoration: none;
    width: 225px;
    display: block;
    line-height: 40px;
    font-family: 'robotolight', serif;
    transition: all .3s ease-in-out;
    margin: 24px auto 0;

    &:hover {
      background: $little-data-color;
      transition: all .3s ease-in-out;
    }

  }
}
